.hero {
  background-color: $black;
  height: rem(520);
  font-family: $font !important;
  overflow: hidden;

  @include breakpoint(md) {
    height: rem(580);
  }

  &--content {
    order: -1;
    text-align: center;

    @include breakpoint(md) {
      order: 1;
      text-align: left;
    }
  }

  .container,
  .row {
    height: 100%;
  }

  .row {
    align-items: center;
  }

  hgroup {
    margin-bottom: rem(35);
  }

  h3 {
    text-transform: uppercase;
    color: $white;
    font-size: rem(18);
    letter-spacing: rem(3);
  }

  h1 {
    text-transform: uppercase;
    color: $white;
    font-size: rem(48);
    font-weight: 700;
  }

  h2 {
    font-size: rem(19);
    color: $white;
    line-height: 1.25;
    width: 100%;
    margin: 0 auto;

    @include breakpoint(md) {
      margin-left: 0;
      width: rem(350);
    }

    strong {
      font-weight: 600;
    }
  }

  .btn {
    margin: 0 auto;

    @include breakpoint(md) {
      margin-left: 0;
    }
  }

  img {
    display: block;
    margin: 0 auto;
    width: rem(315);
    position: relative;
    left: rem(-20);

    @include breakpoint(md) {
      width: 100%;
      left: 0;
    }
  }
}
