section.audiobook(data-aos="fade-up")
  .container
    header.row
      .col-md-12
        h2.title Audiolibro
    .row
      .col-md-12
        iframe(width='100%', height='350', style='background-color:transparent; display:block; padding: 0; max-width: 100%;', frameborder='0', allowtransparency='allowtransparency', scrolling='no', src='//embeds.audioboom.com/publishing/playlist/v4?bg_fill_col=%23ecefef&boo_content_type=playlist&data_for_content_type=1277047-gadgets-and-gizmos-with-steve-caplin&image_option=small&link_color=%2358d1eb&player_theme=light&src=https%3A%2F%2Fapi.audioboom.com%2Fplaylists%2F1277047-gadgets-and-gizmos-with-steve-caplin', title='Audioboom player')
