section.bio
  .container
    .row
      .col-md-12
        div(data-aos="fade-right")
          +vipImg('leo@2x.jpg', 'Leo Piccioli')
        .bio--text(data-aos="fade-left")
          h3 Leo Piccioli
          p Nació en 1971 y es licenciado en Economía cum laudae de la Universidad de Buenos Aires.

          p Después de ayudar a vender el negocio familiar, en 1998 ingresó a Officenet (uno de los pocos emprendimientos puntocom exitosos de Latinoamérica), que en 2004 sería adquirida por Staples, la cadena de librerías más grande del mundo. Desde 2005 manejó la operacion de Argentina y en 2013 se hizo cargo también de la de Brasil, hasta septiembre de 2016. Ese mes ganó el premio al Dirigente del Año en la categoría Comercio de la Asociación de Dirigentes de Empresa y anunció su salida de la empresa.

          p Desde entonces se dedica a ayudar a otros líderes a mejorar, dando conferencias en eventos y empresas y escribiendo (en 2017 en LinkedIn llegó a más de medio millón de lectores).

          ul
            li.tw: a(href="https://twitter.com/LeoPiccioli", title="Leo Piccioli Twitter", target="_blank", rel="noopener"): +svg('twitter')
            li.fb: a(href="http://www.facebook.com/leopicciolispeaker", title="Leo Picciolo Facebook", target="_blank", rel="noopener"): +svg('facebook')
            li.ig: a(href="https://www.instagram.com/leopiccioli/", title="Leo Piccioli Instagram", target="_blank", rel="noopener"): +svg('instagram')
            li.in: a(href="https://www.linkedin.com/in/leopiccioli/", title="Leo Piccioli Linkedin", target="_blank", rel="noopener"): +svg('linkedin')
            li.link: a(href="http://www.leopiccioli.com.ar/es/", title="Leo Piccioli sitio web", target="_blank", rel="noopener"): +svg('link')
    .bio--video
      .row
        .col-md-12
          .video-wrapper
            .video-container
              iframe(width='853', height='480', src='https://www.youtube.com/embed/zcLEHVNMWX8?rel=0&showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
