section.bio
  .container
    .row
      .col-md-12
        img(src='assets/images/leo.jpg', srcset='assets/images/leo.jpg 1x, assets/images/leo@2x.jpg 2x', alt='Leo Piccioli')
        .bio--text
          h3 Leo Piccioli
          p 46 años y dos hijos adolescentes es licenciado en Economía cum laudae de la Universidad de Buenos Aires.

          p Después de ayudar a vender el negocio familiar, en 1998 ingresó a lo que antes era Officenet (uno de los pocos emprendimientos puntocom exitosos de Latinoamérica) y hoy Staples, la cadena de librerías más grande del mundo; desde 2005 manejó Argentina y en 2013 se hizo cargo también de la operación de Brasil, hasta septiembre de 2016. Ese mes ganó el premio al Dirigente del Año en la categoría Comercio de la Asociación de Dirigentes de Empresa y anunciósu salida de la empresa.

          p Desde entonces se dedica a ayudar a otros líderes a mejorar, dando conferencias en eventos y empresas y escribiendo (en LinkedIn ya tuvo más de medio millón de lectores).

          ul
            li.tw: a(href="", title="", target="_blank"): +svg('twitter')
            li.fb: a(href="", title="", target="_blank"): +svg('facebook')
            li.ig: a(href="", title="", target="_blank"): +svg('instagram')
            li.in: a(href="", title="", target="_blank"): +svg('linkedin')
            li.link: a(href="", title="", target="_blank"): +svg('link')
              
    .row.bio--video
      .col-md-12
        .video-wrapper
          .video-container
            iframe(width='853', height='480', src='https://www.youtube.com/embed/zcLEHVNMWX8?rel=0&showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
