//- section.proximamente#comprar
  .container
    header.row
      .col-md-12
        h2.title ¡Falta poco!
        p ¡Anotate para saber las novedades!
    section
      #mc_embed_signup
        form#mc-embedded-subscribe-form.validate(action='https://leopiccioli.us14.list-manage.com/subscribe/post?u=de0d1407b92a9bc1558a92231&id=137f1d72ea', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
          #mc_embed_signup_scroll
            .mc-field-group
              label(for='mce-EMAIL') Dirección de Correo
              input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
            #mce-responses.clear
              #mce-error-response.response(style='display:none')
              #mce-success-response.response(style='display:none')
            div(style='position: absolute; left: -5000px;', aria-hidden='true')
              input(type='text', name='b_de0d1407b92a9bc1558a92231_137f1d72ea', tabindex='-1', value='')
            .clear
              input#mc-embedded-subscribe.button(type='submit', value='Suscribite', name='subscribe')
section.buy#comprar
  .container
    header.row
      .col-md-12
        h2.title ¿Querés el libro Soy solo?
    .row.buy--row
      .col-md-4
        .buy--block
          h5 Premium con envío
          p Libro tapa dura con envío (solo en Argentina)
          .price #[span $]800
          a.btn(href="https://articulo.mercadolibre.com.ar/MLA-723430904-soy-solo-por-leo-piccioli-historias-honestas-de-liderazgo-_JM", title="") Comprar
      .col-md-4
        .buy--block
          h5 Premium
          p Libro tapa dura sin envio, que también puedes conseguir en las tiendas de #[a(href="http://www.cuspide.com/locales-listado", title="", target="_blank", rel="noopener") Cuspide]
          .price #[span $]720
          a.btn(href="https://articulo.mercadolibre.com.ar/MLA-722788899-soy-solo-por-leo-piccioli-historias-honestas-de-liderazgo-_JM", title="", target="_blank", rel="noopener") Comprar
      .col-md-4
        .buy--block
          h5 Ebook
          p 2 tomos de $200 cada uno
          .price #[span $]200
          a.btn(href="", title="") Comprar
    .row.buy--row
      .col-md-4
        .buy--block
          h5 Audiolibro completo #[span (próximamente)]
          p Leído por el autor, en producción
          .price #[span $]500
          a.btn(href="http://eepurl.com/cDLs95", title="", target="_blank", rel="noopener") Avisarme
      .col-md-4
        .buy--block
          h5 Audiolibro en cuotas
          p Escuchá un capítulo por semana leído por el autor (termina en 2019)
          .price.gratis GRATIS
          a.btn(href="#audiolibro", title="") Escuchar
      .col-md-4
        .buy--block
          h5 Libro gratis
          p Para periodistas, docentes y gente que no puede pagarlo
          .price.gratis GRATIS
          a.btn(href="https://docs.google.com/forms/d/e/1FAIpQLSfrT4bwW93yK_4F8_5I3RlsofLMBFmAuF2ohIF1V79VuUWH6w/viewform", title="Formulario para solicitar el libro gratis", target="_blank" , rel="noopener") Solicitar
