section.buy#comprar
  .container
    header.row
      .col-md-12
        h2.title ¿Querés el libro Soy solo?
    .row.buy--row
      .col-md-4
        .buy--block
          h5 Premium con envío
          p Libro tapa dura con envío (solo en Argentina)
          .price #[span $]800
          a.btn(href="", title="") Comprar
      .col-md-4
        .buy--block
          h5 Premium
          p Libro tapa dura disponible en tiendas Cúspide (solo en Argentina)
          .price #[span $]720
          a.btn(href="http://www.cuspide.com/locales-listado", title="Ver tiendas en Cúspide", target="_blank", rel="noopener") Ver Tiendas
      .col-md-4
        .buy--block
          h5 Ebook
          p 2 tomos de $200 cada uno
          .price #[span $]200
          a.btn(href="", title="") Comprar
    .row.buy--row
      .col-md-4
        .buy--block
          h5 Audiolibro completo #[span (próximamente)]
          p Leído por el autor, en producción
          .price #[span $]500
          a.btn(href="http://eepurl.com/cDLs95", title="", target="_blank", rel="noopener") Avisarme
      .col-md-4
        .buy--block
          h5 Audiolibro en cuotas
          p Escuchá un capítulo por semana leído por el autor (termina en 2019)
          .price.gratis GRATIS
          a.btn(href="#audiolibro", title="") Escuchar
      .col-md-4
        .buy--block
          h5 Libro gratis
          p Para periodistas, docentes y gente que no puede pagarlo
          .price.gratis GRATIS
          a.btn(href="https://docs.google.com/forms/d/e/1FAIpQLSfrT4bwW93yK_4F8_5I3RlsofLMBFmAuF2ohIF1V79VuUWH6w/viewform", title="Formulario para solicitar el libro gratis", target="_blank" , rel="noopener") Solicitar
