section.comments(data-aos="fade-up")
  .container
    header.row
      .col-md-12
        h2.title Excelentes comentarios de referentes
    .comments--slider
      .comments--slide
        .avatar
          +img('Andrea-Grobocopatel.jpg')
        a(href="https://www.linkedin.com/in/andrea-grobocopatel-175b8612/", title="", target='_blank') Andrea Grobocopatel
        p Reflexivo de los cambios sociales de nuestro tiempo, Leo desde su experiencia nos muestra lo que hay que hacer (y lo que no también) para desarrollarse dentro de una empresa, hacer crecer a la misma y cerrar ciclos; hablando de grises y no de grietas, sin dejar de disfrutar y aprendiendo permanentemente a ser feliz en el camino.
      .comments--slide
        .avatar
          +img('Natalia-de-Diego.jpg')
        a(href="www.dediego.com.ar", title="", target='_blank') Natalia de Diego
        .comments--text
          p Un libro inspirador y extraordinariamente positivo, es una provocación a la reflexión, una sacudida a nuestras conciencias, una razón para seguir siendo personas.
          p A través de una serie de capítulos divertidos, apasionantes y lúcidos, se abre a los ojos del lector una nueva perspectiva en la visión de un CEO creativo e innovador que supo ser el director de su propia vida.
          p Es un libro original, sorprendente y –por sobre todo– distinto. Una poderosa llamada a ser de verdad nosotros mismos, a recuperar nuestros anhelos, a asumir con valentía el protagonismo de nuestra vida para comprender mejor lo que significa ser feliz.
          .read-more
            button.btn Leer más
        
      .comments--slide
        .avatar
          +img('Paula-Molinari.jpg')
        a(href="www.whalecom.com.ar", title="", target='_blank') Paula Molinari
        p Es increíble cómo Leo logra llevar el espíritu del stand up a la prosa, compartiéndonos experiencias, reflexiones, éxitos y fracasos con mucho humor y su estilo irreverente.
        p Leyendo las páginas de Soy solo, me reí más de una vez imaginando algunas situaciones y me proyecté en muchas historias que describen las paradojas de la vida corporativa, bien contada con la inteligente ironía que lo caracteriza.
      .comments--slide
        .avatar
          +img('Claudio-Destefano.jpg')
        a(href="https://www.linkedin.com/in/claudio-destefano/", title="", target='_blank') Claudio Destéfano
        p Cuando intuyo, veo, encuentro o descubro a alguien que con sus palabras agrega valor, siempre salta primero la pregunta '¿es necesario?', pensando de manera egoísta en que toda sabiduría o experiencia que se comparte genera competencia. Cuando ingreso en el andarivel correcto del pensamiento actual (el del 'coopetition'), cambio mecánicamente los signos. ¡Es necesario! En Soy solo sucede algo poco común: se enseña aprendiendo al mismo tiempo. Leo lo hizo.
        
      .comments--slide
        .avatar
          +img('Andy-Freire.jpg')
        a(href="http://www.andyfreire.com", title="", target='_blank') Andy Freire
        p Leo siempre vio el mundo de una manera diferente. En Soy solo comparte, de una manera súper entretenida y disruptiva, muchos secretos y claves del liderazgo.
        
      .comments--slide
        .avatar
          +img('Santiago-Bilinkis.jpg')
        a(href="http://www.bilinkis.com", title="", target='_blank') Santiago Bilinkis
        p ¡Con este libro descubrí que mi gran compañero de aventuras locas y divertidas escribe muy bien también!
        
      .comments--slide
        .avatar
          +img('Alejandro-Melamed.jpg')
        a(href="http://www.humanizeconsulting.com", title="", target='_blank') Alejandro Melamed
        .comments--text
          p Conocí a Leo cuando los dos estábamos atravesando nuestro proceso de reubicación en el mercado laboral, pero podría asegurar que lo conocía de toda la vida.
          p Compartimos vivencias, experiencias, pero fundamentalmente una visión de futuro y valores sobre los que se sustentaban. Nos juntamos a tomar un café y al rato –casi mágicamente– ya “jugábamos de memoria”.
          p El concepto de “Soy solo” amerita una resignificación en el mundo laboral actual. En un mundo de cada vez mayor conectividad, hay cada vez mayor soledad, mayor desconexión.
          p Soy solo es una invitación a conectarnos con nosotros mismos para –a partir de ello– conectar mejor con los otros, generando vínculos que excedan lo transaccional y trasciendan hacia el valor mutuo. Pero solo podremos dar el segundo paso cuando nos demos cuenta que encontramos un sentido. El texto es un desafío constante al statu quo y una invitación a ser actores protagónicos de nuestras historias, sin victimizarnos ni buscar culpables. Hacernos responsables y encontrar nuestras propias respuestas.
          p A partir de historias, relatos y experiencias nos permite ir encontrando caminos no pensados previamente, para empezar a recorrerlos.
          p Me da mucha alegría que Leo (¡con ese nombre estaba predestinado a escribir SU libro!) haya tomado el coraje para integrar un texto que, sin dudas, será de mucha utilidad para todos aquellos que trabajan en –o para– las empresas.
          .read-more
            button.btn Leer más
            
      .comments--slide
        .avatar
          +img('Susana-Von-der-Heide.jpg')
        a(href="http://www.www.vonderheide.com", title="", target='_blank') Susana Von der Heide
        p Leer el libro de Leo es lo más parecido a charlar con él, rico té mediante. Por momentos me detengo porque descubro que revela el sentido que le das a tu vida. 
        p Valoro la idea de la "jaula de oro", que me desafía a pensar en las consecuencias que tiene que no nos sintamos libres mientras trabajamos.
        
      .comments--slide
        .avatar
          +img('Manuel-Montaner.jpg')
        a(href="https://www.linkedin.com/in/manuelmontaner/", title="", target='_blank') Manuel Montaner
        .comments--text
          p En cierto ambientes académicos se comenta lo que James Appleberry mostró hace dos décadas: que el conocimiento humano tardó 1750 años en duplicarse por primera vez desde el inicio de la era cristiana. Lo volvió a hacer cada 150 años y más adelante cada 50 años. En la actualidad, se duplica cada 5 años y a partir del 2020 apenas cada 73 días.
          p O sea mañana…
          p Las organizaciones de toda índole que no se reconviertan y flexibilicen y no aprendan a surfear esta súper-ola ni a disfrutar de la adrenalina del equilibrio móvil serán testigos de su ​eclipse​. Y del ​atardecer de los paradigmas qu​e​ no incluyan los nuevos desafíos. 
          p Los que sí –que serán los menos– necesitarán otro tipo de liderazgo. Antisolemne, integrativo, responsable, conversacional, conectivo, generador de contexto de confianza, audaz, contributivo, arriesgado. Absolutamente disruptivo con lo que se conoce hasta ahora. Que pueda sentarse con su equipo a analizar y a aprender del fracaso, a abrazar el miedo y a los grises y las sombras del mercado, de la organización y del propio equipo, que reconozca el valor del compromiso y sepa distribuir y asignar tareas cambiantes y convocar nuevos desafíos. Sabiendo que debe decrecer su ego para que el legítimo Otro crezca y se valide. El que escribió este libro se preparó para esto, justamente. 
          p Haciéndolo. Porque sólo la acción genera ser. Y la práctica hace al maestro. 
          p ​Fui testigo de esa transformación personal y lo agradezco​ infinitamente. 
          p Este libro no es un manual hacia ese Camino, sino una bitácora. 
          p Y funciona como una ​llave maestra​​ ​que abrirá las puertas a las nuevas tendencias y a las nuevas oportunidades, sin dejar de lado la felicidad que da abrir nuevos senderos e iluminar nuevos espacios. 
          p Para que el salto cuántico –-que significa pasar de un estado energético a otro en ​forma instantánea, he ahí lo extraordinario– deje de ser una metáfora para ser pura posibilidad. Y para que Leo Piccioli muestre cómo construyó este Puente desde la humildad atravesando la incertidumbre hasta inaugurar y convocarnos algo similar a un Camino del Héroe. Y tal vez lo sea...
          .read-more
            button.btn Leer más

      .comments--slide
        .avatar
          +img('Diego-Pisano.jpg')
        a(href="https://www.linkedin.com/in/dpisano/", title="", target='_blank') Diego Pisano
        p Con coraje y humildad, Leo nos comparte su jornada hacia el liderazgo –y para fuera de él. En su estilo liviano, divertido y disruptivo, muestra interesantes perspectivas que pueden ser muy útiles tanto al que quiere ser jefe como al que ya lo es y se pregunta qué está haciendo allí. A esto le sumamos una mirada hacia los cambios e incertezas que se presentan en nuestra época y ¡tenemos un libro que merece ser leído!
          
      .comments--slide
        .avatar
          +img('Sebastian-Campanario.jpg')
        a(href="http://www.twitter.com/sebacampanario", title="", target='_blank') Sebastián Campanario
        p El mundo del trabajo está experimentando hoy en día cambios tan exponenciales y drásticos como las tecnologías más dirsuptivas. Soy solo ofrece una caja de herramientas indispensable para navegar en este mar de aguas turbulentas, con un lenguaje simple, sin tecnicismos y con un abordaje integral de la problemática. Escrito, además, por alguien que no es solo un observador del fenómeno sino que atravesó todas las etapas de cambio que emergen en este nuevo paradigma laboral.
