section.comments
  .container
    header.row
      .col-md-12
        h2.title Excelentes comentarios de referentes
    .comments--slider
      .comments--slide
        .avatar
          +img('Andrea-Grobocopatel.jpg')
        a(href="https://www.linkedin.com/in/andrea-grobocopatel-175b8612/", title="", target='_blank') Andrea Grobocopatel
        p Reflexivo de los cambios sociales de nuestro tiempo, Leo desde su experiencia nos muestra lo que hay que hacer (y lo que no también) para desarrollarse dentro de una empresa, hacer crecer a la misma y cerrar ciclos; hablando de grises y no de grietas, sin dejar de disfrutar y aprendiendo permanentemente a ser feliz en el camino.
      .comments--slide
        .avatar
          +img('Natalia-de-Diego.jpg')
        a(href="www.dediego.com.ar", title="", target='_blank') Natalia de Diego
        p Un libro inspirador y extraordinariamente positivo, es una provocación a la reflexión, una sacudida a nuestras conciencias, una razón para seguir siendo personas.
        p A través de una serie de capítulos divertidos, apasionantes y lúcidos, se abre a los ojos del lector una nueva perspectiva en la visión de un CEO creativo e innovador que supo ser el director de su propia vida.
        p Es un libro original, sorprendente y –por sobre todo– distinto. Una poderosa llamada a ser de verdad nosotros mismos, a recuperar nuestros anhelos, a asumir con valentía el protagonismo de nuestra vida para comprender mejor lo que significa ser feliz.
        .read-more
          button.btn Leer más
        
      .comments--slide
        .avatar
          +img('Paula-Molinari.jpg')
        a(href="www.whalecom.com.ar", title="", target='_blank') Paula Molinari
        p Es increíble cómo Leo logra llevar el espíritu del stand up a la prosa, compartiéndonos experiencias, reflexiones, éxitos y fracasos con mucho humor y su estilo irreverente.
        p Leyendo las páginas de Soy solo, me reí más de una vez imaginando algunas situaciones y me proyecté en muchas historias que describen las paradojas de la vida corporativa, bien contada con la inteligente ironía que lo caracteriza.
      .comments--slide
        .avatar
          +img('Claudio-Destefano.jpg')
        a(href="https://www.linkedin.com/in/claudio-destefano/", title="", target='_blank') Claudio Destéfano
        p Cuando intuyo, veo, encuentro o descubro a alguien que con sus palabras agrega valor, siempre salta primero la pregunta '¿es necesario?', pensando de manera egoísta en que toda sabiduría o experiencia que se comparte genera competencia. Cuando ingreso en el andarivel correcto del pensamiento actual (el del 'coopetition'), cambio mecánicamente los signos. ¡Es necesario! En Soy solo sucede algo poco común: se enseña aprendiendo al mismo tiempo. Leo lo hizo.
        
        
      .comments--slide
        .avatar
          +img('Andy-Freire.jpg')
        a(href="http://www.andyfreire.com", title="", target='_blank') Andy Freire
        p Leo siempre vio el mundo de una manera diferente. En Soy solo comparte, de una manera súper entretenida y disruptiva, muchos secretos y claves del liderazgo.
        
      .comments--slide
        .avatar
          +img('Santiago-Bilinkis.jpg')
        a(href="http://www.bilinkis.com", title="", target='_blank') Santiago Bilinkis
        p ¡Con este libro descubrí que mi gran compañero de aventuras locas y divertidas escribe muy bien también!
      
