section.hero
  .container
    .row
      .col-md-7
        +img('book.png')
      .col-md-5
        hgroup
          h3 Leo Piccioli
          h1 Soy solo
          h2 Historias honestas de liderazgo #[strong para ser feliz en el siglo XXI y más allá]
        a.btn(href="", title="") Comprar
