section.hero
  .container
    .row
      .col-md-7.hero--book
        div(data-aos="fade-right")
          +vipImg('book.png', 'Libro Soy Solo de Leo Piccioli')
      .col-md-5.hero--content(data-aos="fade-up")
        hgroup
          h3 Leo Piccioli
          h1 Soy solo
          h2 Historias honestas de liderazgo #[strong para ser feliz en el siglo XXI y más allá]
        a.btn(href="#comprar", title="", data-aos-delay="200") Comprar
