section.summary(data-aos="fade-up")
  .container
    header.row
      .col-md-12
        h2.title Soy solo
    .row.summary--text
      .col-md-6
        .quote-open
          +svg('quote-open')
        p "Quiero ser jefe, gerente, emprendedor, líder o dueño”. eso fue lo que me respondieron en las casi 300 entrevistas que realicé a lo largo de doce años de vida profesional. ¿por qué? porque estamos programados para contestar eso, creemos que es la respuesta correcta. pero también, porque realmente estamos con- vencidos de que tenemos que crecer, escalar, llegar a algún lugar. el éxito y el fracaso han sido tan estigmatizados -y estigmatizantes- que ya olvidamos que hay in nidad de grises -grises que nos enriquecen y nutren.

        p Soy Solo comienza relatando las cinco tendencias de cambio en nuestra sociedad (felicidad, responsabilidad, automatización, Ubicuidad y exponencialidad) y cómo cada una afecta al tra- bajo y la vida en general. gracias a ese cambio acelerado, las emociones y el aprendizaje pasaron a ser fundamentales en ám- bitos laborales: si no nos mostramos empáticos y humildes, no podremos ser felices. tenemos que aprender a ser humildes para poder aprender siempre.

      .col-md-6
        p los capítulos referidos a quienes trabajan para otros y los que se corresponden a aquellos que decidieron emprender podrían entremezclarse, ya que están siempre cruzados por conceptos comunes. entender que no debemos esperar nada de otros sino construir nuestro propio camino es uno de ellos. otro, además de que el mundo cambia cada vez más rápido, es el que sostiene la idea de que siempre hay opciones, que siempre podemos ser protagonistas en lugar de víctimas y que elegir nos hará felices -sin que sea tan importante no equivocarse.

        p aplicando las mismas tendencias, la sección sobre el futuro pro- fundiza en lo que le espera a empresas, sindicatos, al empleo en general, a la información y al estado -siempre pensando en el largo plazo y eligiendo encontrar puntos en común por encima de ahondar las grietas. aún cuando esto no sea tan fácil de vender. creo que tenemos por delante una oportunidad única y, por eso, en Soy Solo comparto, desde la humildad, historias de vida -propias y ajenas- que dejan un aprendizaje de liderazgo para que -no sólo al nal del camino, sino también durante el recorrido- todos podamos ser felices.
        .quote-close
          +svg('quote-close')
